body {
    position: fixed;
    background-color: black;
    margin: 0%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.fullscreen {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
}

.visible {
    top: 0;
    transition: top 0s 0.5s;
}

.invisible {
    top: 100%;
    transition: top 0s 0.5s;
}

.toTopTransition {
    top: 0;
    transition: top 1s 1s;
}

.toBotTransition {
    top: 100%;
    transition: top 1s 0s;
}

.themeBox{
    background-color: rgba(0,0,0,0.5); 
    border-bottom: 0.25vh black solid;
    border-top: 0.25vh black solid;
}

.themeText{
    font-size: 3vh;
    text-shadow: 1px 1px 6px;
    font-family: Courier New, Courier, monospace;
}

@keyframes leftCurtain {
    0% { right: 100%; }
    50% { right: 50%; }
    100% { right: 100%; }
}

@keyframes rightCurtain {
    0% { left: 100%; }
    50% { left: 50%; }
    100% { left: 100%; }
}

.leftCurtain {
    animation-name: leftCurtain;
    animation-duration: 1.5s;
}

.rightCurtain {
    animation-name: rightCurtain;
    animation-duration: 1.5s;
}

#leftDiv, #rightDiv {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 99;
}

#leftDiv {
    right: 100%;
}

#rightDiv {
    left: 100%;
}
#gameTitle{
    background-image: url('../textures/title.png');
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    margin-top: 5vh;
}

/* --------------------------------------------------------------------- LOGIN CANVAS -- */

#loginCanvas{
    background-image: url('../textures/mario.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

#loginCanvas > header{
    width: 100%;
    height: 20vh;
    padding-top: 5vh;
}

#loginCanvas.fade{
    opacity: 0;
}

#loginBox{
    margin-top: 5%;
    margin-bottom: 5%;
    text-shadow: 1px 1px 6px;
    padding: 2vh 1vw;
}

#loginBox > ul{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
}

#loginBox > input{
    padding-top: 3vh;
}


.loginLabel{
    text-decoration: none;
    color: white;
}

#loginCanvas > form {
    text-align: center;
}

nav {
    text-align: center;
}

form {
    list-style-type: none;
    padding: 0%;
}
/* 
nav form li {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 7vh;
    text-shadow: 1px 1px 6px;
} */

nav form > a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    margin-top: 5%;
    margin-bottom: 5%;
    height: 7vh;
    text-shadow: 1px 1px 6px;
}

#loginCanvas input[type=text], select {
    width: 80%;
    padding: 0.2vh 0.2vw;
    margin: 1.7vh 0vh;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 2vh;
    /* opacity: 0.5; */
    color: white;
    background-color: rgba(0,0,0,0.5); 
    text-align: center;
}



/* --------------------------------------------------------------------- MENU CANVAS -- */

#menuCanvas{
    background-image: url('../textures/mario.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

#menuCanvas > header{
    width: 100%;
    height: 20vh;
    padding-top: 5vh;
}

#menuCanvas.fade{
    opacity: 0;
}

.menu {
    max-width: 25%;
    height: 60vh;
    margin: 0%;
    padding-left: 37.5%;
    padding-right: 37.5%;
    padding-top: 4%;
}

#menuCanvas > nav {
    text-align: center;
}

#menuCanvas > nav ul {
    list-style-type: none;
    padding: 0%;
}

#menuCanvas > nav ul li {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 7vh;
    text-shadow: 1px 1px 6px;
}

#menuCanvas > nav ul li a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}



.menuButtonLink{
    text-decoration: none;
    color: white;
}

.menuButtonLink:hover{
    color:darkgray;
}

.menuButtonLink:active{
    color:darkslategray;
}

.backToMenuButton {
    max-width: 25%;
    margin: 0%;
    padding-left: 37.5%;
    padding-right: 37.5%;
    bottom: 11vh;
    text-align: center;
    position: relative;
}

.backToMenuButton > ul {
    list-style-type: none;
    padding: 0%;
}

.backToMenuButton > ul li {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 7vh;
    text-shadow: 1px 1px 6px;
}

.backToMenuButton > ul li a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* ---------------------------------------------------------- OPTIONS CANVAS -- */

#optionsCanvas{
    background-color: #feda4a
}

.listOfOptions{
    position: relative;
    width: 60vw;
    height: 80vh;
    margin: 5vh 20vw 15vh 20vw;
}

.listOfOptions > ul {
    position: relative;
    width: 50%;
    height: 20%;
    margin: 2vh 2vw;
}

.listOfOptions > ul li{
    width: 100%;
    padding: 2vh 0;
}

.listOfOptions > ul li p{
    display: inline-block;
    margin: 0;
    position: relative;
    width: 50%;
}

.changeKeys{
    position: relative;
    height: 60%;
    margin: 2vh 2vw;
}

.changeKeys > ul li{
    position: relative;
    display: inline-block;
    width: 100%;
}

.changeKeys > ul li p{
    position: relative;
    float: left;
    width: 30%;
}

.changeKeys > ul li a{
    float: right;
    margin: 3vh 0;
}

.listOfOptions ul li:hover{
    color: aqua;
}

/* ---------------------------------------------------------- HALL OF FAME CANVAS -- */

#hallOfFameCanvas{
    background-color: aquamarine;
}

.listOfPlayers{
    position: relative;

    width: 40vw;
    height: 80vh;
    margin: 5vh 30vw 15vh 30vw;

    font-size: 3vh;
    font-family: Courier New, Courier, monospace;
}

.listOfPlayers ul li{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* ---------------------------------------------------------- CREDITS CANVAS -- */

#creditsCanvas {
    background-image: url("../textures/creditsBackground.jpg");
    background-color: black;
}
  
.fade-text {
    position: relative;
    width: 100%;
    height: 60vh;
    top: 0;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

.star-wars-text {
    display: flex;
    position: relative;
    height: 90vh;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 10vh;
    font-weight: 600;
    line-height: 150%;
    perspective: 50vh;
    text-align: justify;
}

#slider {
    position: relative;
    top: 9999px;
    
}

.sliderAnimation{
    animation-name: slider;
    animation-duration: 60s;
    animation-timing-function: linear;
}

#slider > .title {
    font-size: 90%;
    text-align: center;
}

#slider > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}

@keyframes slider {
    0% {
        top: 0;
        transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}

.creditsBackButton{
    position: relative;
    left: 2vw;
    top: 2vh;
}

.creditsBackButton > img {
    width: 5vh;
    height: 5vh;
}



/* ---------------------------------------------------------- CHOOSE CARACTER CANVAS -- */

#chooseCharacterCanvas {
    height: 90vh;
    width: 90%;
    background-color: tan;
    padding: 5vh 5%;
    overflow: hidden;
}

#chooseCharacterCanvas ul{
    height: 10%;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#chooseCharacterCanvas ul li{
    text-align: center; 
    width: 48%;
    display: inline-block;
    color: black;
    font-size: 6vh;
    text-shadow: 4px 3px 1px gray;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.caractersTable {
    position: relative;
    width: 46%;
    height: 90%;
    padding: 0% 2%;
    text-align: center;
    overflow-y: scroll;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.caractersTable a {
    display: block;
    height: 22.5vh;
    width: 15vh;
    margin: 2vh;
    float: left;
    box-shadow: 5px 5px 10px #000000;
}

.caractersTable a:hover {
    border: 2px outset lightgray;
}

::-webkit-scrollbar {
    width: 0px;
    background: none;
}
::-webkit-scrollbar-thumb {
    background: none;
}

.buttonGame {
    text-decoration: none;
    border-radius: 25px;
}

.icon {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

/* -------------------------------------------------------------------- GAME CANVAS -- */

#gameCanvas{
    background-color: coral;
    height: 100%;
    width: 100%;
    display: block;
}

canvas{
    position: absolute;
}

/* -------------------------------------------------------------------- MEDIA SCREEN -- */


@media only screen and (min-width: 768px) and (max-width: 979px) {
    
    #menuCanvas > header{
        font-size: 15vh;
    }

    .menu{
        font-size: 2.75vh;
        max-width: 30%;
        padding-right: 35%;
        padding-left: 35%;
        
    }

    #chooseCharacterCanvas ul li{
        font-size: 5vh;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    #menuCanvas > header{
        font-size: 12vh;
    }

    .menu{
        font-size: 2.25vh;
        max-width: 35%;
        padding-right: 32.5%;
        padding-left: 32.5%;
    }

    #chooseCharacterCanvas ul li{
        font-size: 5vh;
    }

}

@media only screen and (max-width: 479px) {

    #menuCanvas > header{
        font-size: 9vh;
    }

    .menu{
        font-size: 2vh;
        max-width: 40%;
        padding-right: 30%;
        padding-left: 30%;
    }

    #chooseCharacterCanvas ul li{
        font-size: 4vh;
    }

}